* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.nav {
    padding: 3px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo img{
    object-fit: cover;
    padding: 0 15px;
    width: 230px;
    height: 40px;
}


.manu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.manu ul li {
    list-style: none;
    padding: 10px;
    color: white;
    font-size: 18px;

}

.manu ul li:hover {
    background-color: aquamarine;
    color: black;
    border-radius: 15px;
}

.movie {
    padding: 0 35px;
}

.card {
    scroll-snap-align: start;
    width: 186px;
    list-style: none;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    position: relative;
}

.wrapper i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.crauser {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

.notranslet {
    scroll-behavior: auto;
}

.crauser::-webkit-scrollbar {
    display: none;
}

img {
    width: 187px;
    height: 200px;
}

h1 {
    padding: 20px 0;
}

.contaner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.imghead {
    width: 100%;
    height: 100%;
    position: relative;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.position {
    bottom: 20px;
    position: absolute;
    color: white;
    width: 50vw;
    left: 50px;
}
.position h2{
    font-size: 3rem;
}
.position p {
    padding: 10px 0;
}